body{
  background-image: linear-gradient(black, #BA5C12);
  text-align: center;
  font-size: 50px;}
p{font-size: 15px; margin:-10; padding:-10;font-color:#D3F6DB;}
h1{font-size: 50px;
  text-align:left;}
h3{font-size:35px;
  text-align:left}
h5{font-size:15;
  text-align:left; 
  font-color:#95B46A;}
table, th, tr, td{
  border: 1px black;
  margin: -5;
  padding: 0;
  border-collapse: collapse;
}
.boxs{
  background-color:#BA5C12;
  border: 1px black;
  margin: -5;
  padding: 0;}

.button{
  background-color:green;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align:center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 1s;
  cursor: pointer;
}

.button:hover {
  background-color: #04AA6D;
  color: white;}


