a:link, a:visited {
  background-color:white;
  color:black;
  Border:2px pink;
  padding:10px;
  text-align:center;
  textdecoration:none;
  display:inline-block;
a:hover, a:active
{background-color:#000000;
  color: white;}
