body{
  background-image: linear-gradient(#294D4A, #445552);
  color: white;
  text-align: center;
  font-size: 75px;
}
.button{font-size: 50px}

p{font-size: 20px; margin:-10; padding:-10;font-color:#D3F6DB;}
h1{font-size: 50px;
  text-align:left;}
h3{font-size:50px;
  text-align:left}
h5{font-size:25;
  text-align:left; 
  font-color:#95B46A;}
table, th, tr, td{
  border: 1px solid white;
  margin: -5;
  padding: 0;
  border-collapse: collapse;
}
.boxs{
  background-color:#EBEFBF;
  border: 1px solid white;
  margin: -5;
  padding: 0;
  border-collapse: collapse;}
a:link, a:visited{
  background-color: #EBEFBF;
  color: #3E5622;
  border: orange;
  padding: 10px;
  display: inline-block;
}
a:hover, a:active{
  background-color:#CDC6A5; 
  color:#FFEAD0;
}
